.color-vote-area {
	position: absolute;
	top: 26vh;
	left: 47.5vw;
	display: flex;
	flex-direction: column;

	background-color: #999999;
	padding: 0vh 0.5vw;
	border: 0.2vw solid #ffffff;
	border-radius: 1vw;
}

.color-option,
.dispense-button {
	width: 9.5vh;
	height: 4vh;
	border-radius: 1vh;
	background-color: #aaa;
	margin: 1vw 0;
	border: 0.2vw solid black;

	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	font-weight: bold;
	font-size: 2vh;

	&:hover {
		border: 0.2vw solid white;
		cursor: pointer;
	}
}

.dispense-button {
	background-color: green;
	color: white;
}

.disabled {
	background-color: #777;
	/* border: 0.2vw solid #666; */
	color: #333;
	&:hover {
		cursor: not-allowed;
		border: 0.2vw solid black;
	}
}

.c {
	background: radial-gradient(5px -9px, circle, white 8%, red 26px);
	background-color: red;
	border: 2px solid white;
	border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
	box-shadow: 1px 1px 1px black;
	color: white;
	font:
		bold 15px / 13px Helvetica,
		Verdana,
		Tahoma;
	height: 16px;
	min-width: 14px;
	padding: 4px 3px 0 3px;
	text-align: center;
}
