.canvas {
	position: absolute;
	top: 11.8vh;
	left: 0.95vw;
	border-radius: 100%;
	right: 53.6vw;
	bottom: 9vh;

	&.debug {
		border: 2px solid white;
	}

	&.disable {
		cursor: not-allowed;
	}
}

.cursor {
	position: absolute;
	width: 2vh;
	height: 2vh;
	border-radius: 100%;
	border: 0.4vh solid #444;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.control-view-debug {
	position: absolute;
	top: 16vh;
	left: 41vw;
	width: 14vw;
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: left;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 1.8vh;
}
