.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#color-vote-area {
  position: absolute;
  top: 33vh;
  display: flex;
  flex-direction: row;
}

.color-option {
  width: 60vh;
  height: 60vh;
  border-radius: 100%;
  background-color: #ff00ff85;
  margin: 0 7vw;

  &:hover {
    background-color: aqua;
  }
}

.debug-text {
  color: white;
  background-color: black;
}

.canvas {
  position: absolute;
  top: 33vh;
  right: 10vw;
  background-color: #ff00ff50;
  border-radius: 100%;
  width: 60vh;
  height: 60vh;
}

.cursor {
  position: absolute;
  width: 5vh;
  height: 5vh;
  border-radius: 100%;
  background-color: aqua;
}